<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mendale.dao.vote.BiVoteResultDao">

	<resultMap id="RM_BiVoteResult" type="BiVoteResult">
		<result property="id" column="ID" />
		<result property="userId" column="USER_ID" />
		<result property="deployId" column="DEPLOY_ID" />
		<result property="candiId" column="CANDI_ID" />
		<result property="voteNum" column="VOTE_NUM" />
		<result property="isDelete" column="IS_DELETE" />
		<result property="creationDate" column="CREATION_DATE" />
	</resultMap>

	<sql id="BiVoteResultColumns">
	    <![CDATA[
		ID,USER_ID,DEPLOY_ID,CANDI_ID,VOTE_NUM,IS_DELETE,CREATION_DATE
	    ]]>
	</sql>

	<insert id="insert" parameterType="BiVoteResult">
	    <![CDATA[
	        INSERT INTO BI_VOTE_RESULT (
	        	USER_ID ,
	        	DEPLOY_ID ,
	        	CANDI_ID
	        ) VALUES (
	        	#{userId,jdbcType=DECIMAL} ,
	        	#{deployId,jdbcType=DECIMAL} ,
	        	#{candiId,jdbcType=DECIMAL}
	        )
	    ]]>
	</insert>

	<update id="update" parameterType="BiVoteResult">
		UPDATE BI_VOTE_RESULT
		<set>
			<if test="userId != null and userId != ''">
				USER_ID = #{userId,jdbcType=DECIMAL} ,
			</if>
			<if test="deployId != null and deployId != ''">
				DEPLOY_ID = #{deployId,jdbcType=DECIMAL} ,
			</if>
			<if test="candiId != null and candiId != ''">
				CANDI_ID = #{candiId,jdbcType=DECIMAL} ,
			</if>
			<if test="voteNum != null and voteNum != ''">
				VOTE_NUM = #{voteNum,jdbcType=DECIMAL} ,
			</if>
			<if test="isDelete != null and isDelete != ''">
				IS_DELETE = #{isDelete,jdbcType=DECIMAL} ,
			</if>
			<if test="creationDate != null and creationDate != ''">
				CREATION_DATE = #{creationDate,jdbcType=DATE} 
			</if>
		</set>
		WHERE
		   ID = #{id} 	</update>

	<delete id="deleteById" parameterType="BiVoteResult">
	    <![CDATA[
	        DELETE FROM BI_VOTE_RESULT WHERE
		        ID = #{id} 
	    ]]>
	</delete>

	<select id="getById" resultMap="RM_BiVoteResult">
		SELECT
		<include refid="BiVoteResultColumns" />
	    <![CDATA[
		    FROM BI_VOTE_RESULT 
	        WHERE 
	        	ID = #{id} 
	    ]]>
	</select>

	<sql id="listSQL">
		<where>
			<if
				test="id!=null and id!=''">
				AND ID = #{id}			</if>
			<if
				test="userId!=null and userId!=''">
				AND USER_ID = #{userId}			</if>
			<if
				test="deployId!=null and deployId!=''">
				AND DEPLOY_ID = #{deployId}			</if>
			<if
				test="candiId!=null and candiId!=''">
				AND CANDI_ID = #{candiId}			</if>
			<if
				test="voteNum!=null and voteNum!=''">
				AND VOTE_NUM = #{voteNum}			</if>
			<if
				test="isDelete!=null and isDelete!=''">
				AND IS_DELETE = #{isDelete}			</if>
			<if
				test="creationDateBegin !=null and creationDateBegin!=''">
				AND CREATION_DATE >= to_date(#{creationDateBegin},'yyyy-MM-dd')
			</if>
			<if
				test="creationDateEnd!=null and creationDateEnd!=''">
				AND CREATION_DATE &lt;= to_date(#{creationDateEnd}||'23:59:59','yyyy-MM-dd hh24:mi:ss')
			</if>
		</where>
	</sql>

	<select id="findPageCount" resultType="int" parameterType="BiVoteResult">
		SELECT count(*) FROM BI_VOTE_RESULT
		<include refid="listSQL" />
	</select>

	<select id="findPageList" resultMap="RM_BiVoteResult"
		parameterType="BiVoteResult">
		SELECT
		<include refid="BiVoteResultColumns" />
		FROM BI_VOTE_RESULT
		<include refid="listSQL" />
		<if test="sortColumns!=null and sortColumns!=''">
			ORDER BY ${sortColumns}
		</if>
	</select>


</mapper>

