<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mendale.dao.vote.BiVoteUserDao">

	<resultMap id="RM_BiVoteUser" type="BiVoteUser">
		<result property="id" column="ID" />
		<result property="code" column="CODE" />
		<result property="password" column="PASSWORD" />
		<result property="brandCode" column="BRAND_CODE" />
		<result property="brandName" column="BRAND_NAME" />
		<result property="entryDate" column="ENTRY_DATE" />
		<result property="isVote" column="IS_VOTE" />
		<result property="isAdmin" column="IS_ADMIN" />
		<result property="isDelete" column="IS_DELETE" />
		<result property="departCode" column="DEPART_CODE" />
		<result property="departName" column="DEPART_NAME" />
		<result property="areaNum" column="AREA_NUM" />
		<result property="lineNum" column="LINE_NUM" />
		<result property="name" column="NAME" />
		<result property="columnNum" column="COLUMN_NUM" />
		<result property="creationDate" column="CREATION_DATE" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" />
		<result property="jobNum" column="JOB_NUM" />
		<result property="isDraw" column="IS_DRAW" />
		<result property="weightNum" column="WEIGHT_NUM" />
	</resultMap>

	<sql id="BiVoteUserColumns">
	    <![CDATA[
		ID,CODE,PASSWORD,BRAND_CODE,BRAND_NAME,ENTRY_DATE,IS_VOTE,DEPART_CODE,DEPART_NAME,AREA_NUM,
		LINE_NUM,COLUMN_NUM,CREATION_DATE,LAST_UPDATE_DATE,IS_ADMIN,NAME,IS_DELETE,JOB_NUM,IS_DRAW,
		WEIGHT_NUM
	    ]]>
	</sql>
	
	<sql id="BiDrawUserColumns">
	    <![CDATA[
		ID,CODE,NAME,IS_DRAW,WEIGHT_NUM
	    ]]>
	</sql>

	<insert id="insert" parameterType="BiVoteUser">
	    <![CDATA[
	        INSERT INTO BI_VOTE_USER (
	        	CODE ,
	        	PASSWORD ,
	        	BRAND_CODE ,
	        	BRAND_NAME ,
	        	ENTRY_DATE ,
	        	IS_VOTE ,
	        	DEPART_CODE ,
	        	DEPART_NAME ,
	        	AREA_NUM ,
	        	LINE_NUM ,
	        	COLUMN_NUM ,
	        	CREATION_DATE ,
	        	LAST_UPDATE_DATE ,
	        	JOB_NUM ,
	        	IS_DRAW
	        ) VALUES (
	        	#{code,jdbcType=VARCHAR} ,
	        	#{password,jdbcType=VARCHAR} ,
	        	#{brandCode,jdbcType=VARCHAR} ,
	        	#{brandName,jdbcType=VARCHAR} ,
	        	#{entryDate,jdbcType=DATE} ,
	        	#{isVote,jdbcType=VARCHAR} ,
	        	#{departCode,jdbcType=VARCHAR} ,
	        	#{departName,jdbcType=VARCHAR} ,
	        	#{areaNum,jdbcType=VARCHAR} ,
	        	#{lineNum,jdbcType=VARCHAR} ,
	        	#{columnNum,jdbcType=VARCHAR} ,
	        	#{creationDate,jdbcType=DATE} ,
	        	#{lastUpdateDate,jdbcType=DATE} ,
	        	#{jobNum,jdbcType=VARCHAR} ,
	        	#{isDraw,jdbcType=VARCHAR} 
	        )
	    ]]>
	</insert>

	<update id="update" parameterType="BiVoteUser">
		UPDATE BI_VOTE_USER
		<set>
			<if test="code != null and code != ''">
				CODE = #{code,jdbcType=VARCHAR} ,
			</if>
			<if test="password != null and password != ''">
				PASSWORD = #{password,jdbcType=VARCHAR} ,
			</if>
			<if test="brandCode != null and brandCode != ''">
				BRAND_CODE = #{brandCode,jdbcType=VARCHAR} ,
			</if>
			<if test="brandName != null and brandName != ''">
				BRAND_NAME = #{brandName,jdbcType=VARCHAR} ,
			</if>
			<if test="entryDate != null and entryDate != ''">
				ENTRY_DATE = #{entryDate,jdbcType=DATE} ,
			</if>
			<if test="isVote != null and isVote != ''">
				IS_VOTE = #{isVote,jdbcType=VARCHAR} ,
			</if>
			<if test="departCode != null and departCode != ''">
				DEPART_CODE = #{departCode,jdbcType=VARCHAR} ,
			</if>
			<if test="departName != null and departName != ''">
				DEPART_NAME = #{departName,jdbcType=VARCHAR} ,
			</if>
			<if test="areaNum != null and areaNum != ''">
				AREA_NUM = #{areaNum,jdbcType=VARCHAR} ,
			</if>
			<if test="lineNum != null and lineNum != ''">
				LINE_NUM = #{lineNum,jdbcType=VARCHAR} ,
			</if>
			<if test="columnNum != null and columnNum != ''">
				COLUMN_NUM = #{columnNum,jdbcType=VARCHAR} ,
			</if>
			<if test="creationDate != null and creationDate != ''">
				CREATION_DATE = #{creationDate,jdbcType=DATE} ,
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE} ,
			</if>
			<if test="jobNum != null and jobNum != ''">
				JOB_NUM = #{jobNum,jdbcType=VARCHAR} ,
			</if>
			<if test="isDraw != null and isDraw != ''">
				IS_DRAW = #{isDraw,jdbcType=VARCHAR} ,
			</if>
		</set>
		WHERE
		ID = #{id}
	</update>

	<delete id="deleteById" parameterType="BiVoteUser">
	    <![CDATA[
	        UPDATE BI_VOTE_USER SET IS_DELETE = '0' WHERE
		        ID = #{id} 
	    ]]>
	</delete>

	<select id="getById" resultMap="RM_BiVoteUser">
		SELECT
		<include refid="BiVoteUserColumns" />
	    <![CDATA[
		    FROM BI_VOTE_USER 
	        WHERE 
	        	ID = #{id} 
	    ]]>
	</select>

	<sql id="listSQL">
		<where>
			<if test="id!=null and id!=''">
				AND ID = #{id}
			</if>
			<if test="code!=null and code!=''">
				AND CODE = #{code}
			</if>
			<if test="password!=null and password!=''">
				AND PASSWORD = #{password}
			</if>
			<if test="brandCode!=null and brandCode!=''">
				AND BRAND_CODE = #{brandCode}
			</if>
			<if test="brandName!=null and brandName!=''">
				AND BRAND_NAME = #{brandName}
			</if>
			<if test="isVote!=null and isVote!=''">
				AND IS_VOTE = #{isVote}
			</if>
			<if test="isAdmin!=null and isAdmin!=''">
				AND IS_ADMIN = #{isAdmin}
			</if>
			<if test="isDelete!=null or isDelete == 0">
				AND IS_DELETE = #{isDelete}
			</if>
			<if test="departCode!=null and departCode!=''">
				AND DEPART_CODE = #{departCode}
			</if>
			<if test="departName!=null and departName!=''">
				AND DEPART_NAME like '%${departName}%'			</if>
			<if test="areaNum!=null and areaNum!=''">
				AND AREA_NUM = #{areaNum}
			</if>
			<if test="lineNum!=null and lineNum!=''">
				AND LINE_NUM = #{lineNum}
			</if>
			<if test="columnNum!=null and columnNum!=''">
				AND COLUMN_NUM = #{columnNum}
			</if>
			<if test="creationDateBegin !=null and creationDateBegin!=''">
				AND CREATION_DATE >=
				to_date(#{creationDateBegin},'yyyy-MM-dd')
			</if>
			<if test="creationDateEnd!=null and creationDateEnd!=''">
				AND CREATION_DATE &lt;=
				to_date(#{creationDateEnd}||'23:59:59','yyyy-MM-dd hh24:mi:ss')
			</if>
			<if test="lastUpdateDateBegin !=null and lastUpdateDateBegin!=''">
				AND LAST_UPDATE_DATE >=
				to_date(#{lastUpdateDateBegin},'yyyy-MM-dd')
			</if>
			<if test="lastUpdateDateEnd!=null and lastUpdateDateEnd!=''">
				AND LAST_UPDATE_DATE &lt;=
				to_date(#{lastUpdateDateEnd}||'23:59:59','yyyy-MM-dd hh24:mi:ss')
			</if>
			<if test="jobNum!=null and jobNum!=''">
				AND JOB_NUM = #{jobNum}
			</if>
			<if test="isDraw!=null and isDraw!=''">
				AND IS_DRAW = #{isDraw}
			</if>
		</where>
	</sql>

	<select id="findPageCount" resultType="int" parameterType="BiVoteUser">
		SELECT count(*) FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

	<select id="findPageList" resultMap="RM_BiVoteUser"
		parameterType="BiVoteUser">
		SELECT
		<include refid="BiVoteUserColumns" />
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

	<select id="findByVO" resultMap="RM_BiVoteUser" parameterType="BiVoteUser">
		SELECT
		<include refid="BiVoteUserColumns" />
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

	<select id="findUserList" resultMap="RM_BiVoteUser"
		parameterType="BiVoteUser">
		SELECT
		<include refid="BiVoteUserColumns" />
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>
	
	<select id="findDrawUserList" resultMap="RM_BiVoteUser"
		parameterType="BiVoteUser">
		SELECT
		<include refid="BiDrawUserColumns" />
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

	<select id="findVoteUserByCode" resultMap="RM_BiVoteUser"
		parameterType="BiVoteUser">
		SELECT
		<include refid="BiVoteUserColumns" />
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

	<update id="updateIsDelete" parameterType="BiVoteUser">
		UPDATE BI_VOTE_USER
		<set>
			<if test="isDelete != null and isDelete != ''">
				IS_DELETE = #{isDelete,jdbcType=VARCHAR}
			</if>
		</set>
		WHERE
		ID = #{id}
	</update>

	<update id="updateUserVotes" parameterType="Map">
		UPDATE BI_VOTE_USER SET IS_VOTE = #{flag} WHERE
		ID in
		<foreach collection="userIds" index="index" item="userId"
			open="(" separator="," close=")">
			${userId}
		</foreach>
	</update>

	<insert id="insertUserList" parameterType="List">
		INSERT INTO BI_VOTE_USER (
		CODE ,
		PASSWORD ,
		BRAND_CODE ,
		BRAND_NAME ,
		ENTRY_DATE ,
		IS_VOTE ,
		DEPART_CODE ,
		DEPART_NAME ,
		AREA_NUM ,
		LINE_NUM ,
		COLUMN_NUM ,
		CREATION_DATE ,
		LAST_UPDATE_DATE ,
		JOB_NUM ,
		NAME
		) select A.* from (
		<foreach collection="list" item="item" index="index"
			separator="union all">
			select
			#{item.code,jdbcType=VARCHAR} code,
			#{item.password,jdbcType=VARCHAR} password,
			#{item.brandCode,jdbcType=VARCHAR} brandCode,
			#{item.brandName,jdbcType=VARCHAR} brandName,
			#{item.entryDate,jdbcType=DATE} entryDate,
			#{item.isVote,jdbcType=VARCHAR} isVote,
			#{item.departCode,jdbcType=VARCHAR} departCode,
			#{item.departName,jdbcType=VARCHAR} departName,
			#{item.areaNum,jdbcType=VARCHAR} areaNum,
			#{item.lineNum,jdbcType=VARCHAR} lineNum,
			#{item.columnNum,jdbcType=VARCHAR} columnNum,
			#{item.creationDate,jdbcType=DATE} creationDate,
			#{item.lastUpdateDate,jdbcType=DATE} lastUpdateDate,
			#{item.jobNum,jdbcType=VARCHAR} jobNum,
			#{item.name,jdbcType=VARCHAR} name
			from dual
		</foreach>
		) A
	</insert>

	<update id="updateUserVotesIsDraw" parameterType="Map">
		UPDATE BI_VOTE_USER SET IS_DRAW = #{flag}, WEIGHT_NUM = 1 WHERE
		ID in
		<foreach collection="userIds" index="index" item="userId"
			open="(" separator="," close=")">
			${userId}
		</foreach>
	</update>

	<select id="queryDrawUsersResult" resultType="BiVoteUser">
		select
		u.brand_name,
		u.depart_name,
		u.code,
		u.password,
		u.name,
		u.job_num,
		d.name draw_name,
		t.draw_remark,
		t.draw_status,
		t.id draw_result_id
		from BI_VOTE_DRAW_RESULT t, BI_VOTE_USER u, BI_VOTE_DRAWCONFIG d
		where t.user_id = u.id
		and t.draw_id = d.id
		order by d.order_num asc
	</select>

	<update id="initUserData" parameterType="BiVoteUser">
		UPDATE BI_VOTE_USER SET IS_DELETE = '0',IS_VOTE = '1'
		WHERE 1 = 1
		<if test="brandCode!=null and brandCode!=''">
			AND BRAND_CODE = #{brandCode}
		</if>
	</update>
	
	<select id="findWeightSum" resultType="int" parameterType="BiVoteUser">
		SELECT
		sum(WEIGHT_NUM)
		FROM BI_VOTE_USER
		<include refid="listSQL" />
	</select>

</mapper>

