<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mendale.dao.vote.BiVoteDrawUserDao">

	<resultMap id="RM_BiVoteDrawUser" type="BiVoteDrawUser">
		<result property="userId" column="USER_ID" />
		<result property="phone" column="PHONE" />
		<result property="name" column="NAME" />
		<result property="drawId" column="DRAW_ID" />
		<result property="drawTitle" column="DRAW_TITLE" />
		<result property="isFlag" column="IS_FLAG" />
		<result property="isDelete" column="IS_DELETE" />
		<result property="createdBy" column="CREATED_BY" />
		<result property="creationDate" column="CREATION_DATE" />
		<result property="lastUpdatedBy" column="LAST_UPDATED_BY" />
		<result property="lastUpdateDate" column="LAST_UPDATE_DATE" />
	</resultMap>

	<sql id="BiVoteDrawUserColumns">
	    <![CDATA[
		USER_ID,PHONE,NAME,DRAW_ID,IS_FLAG,IS_DELETE,CREATED_BY,CREATION_DATE,LAST_UPDATED_BY,LAST_UPDATE_DATE,
		(SELECT T.DRAW_TITLE FROM BI_VOTE_DRAW T WHERE T.DRAW_ID = DRAW_ID) DRAW_TITLE
		]]>
	</sql>

	<insert id="insert" parameterType="BiVoteDrawUser">
		<selectKey resultType="java.lang.Long" order="BEFORE"
			keyProperty="userId">
			SELECT SEQ_BI_VOTE_DRAW_USER.nextval AS userId FROM DUAL
		</selectKey>
	        INSERT INTO BI_VOTE_DRAW_USER
	        <trim prefix="(" suffix=")" suffixOverrides=",">
	        	<if test="userId!=null">USER_ID,</if>
	        	<if test="phone!=null">PHONE,</if>
	        	<if test="name!=null">NAME,</if>
	        	<if test="drawId!=null">DRAW_ID,</if>
	        	<if test="isFlag!=null">IS_FLAG,</if>
	        	<if test="isDelete!=null">IS_DELETE,</if>
	        	<if test="createdBy!=null">CREATED_BY,</if>
	        	<if test="creationDate!=null">CREATION_DATE,</if>
	        	<if test="lastUpdatedBy!=null">LAST_UPDATED_BY,</if>
	        	<if test="lastUpdateDate!=null">LAST_UPDATE_DATE,</if>
	        </trim>
	        <trim prefix="VALUES (" suffix=")" suffixOverrides=",">
	        	<if test="userId!=null">#{userId,jdbcType=DECIMAL},</if>
	        	<if test="phone!=null">#{phone,jdbcType=VARCHAR},</if>
	        	<if test="name!=null">#{name,jdbcType=VARCHAR},</if>
	        	<if test="drawId!=null">#{drawId,jdbcType=DECIMAL},</if>
	        	<if test="isFlag!=null">#{isFlag,jdbcType=DECIMAL},</if>
	        	<if test="isDelete!=null">#{isDelete,jdbcType=DECIMAL},</if>
	        	<if test="createdBy!=null">#{createdBy,jdbcType=VARCHAR},</if>
	        	<if test="creationDate!=null">#{creationDate,jdbcType=DATE},</if>
	        	<if test="lastUpdatedBy!=null">#{lastUpdatedBy,jdbcType=VARCHAR},</if>
	        	<if test="lastUpdateDate!=null">#{lastUpdateDate,jdbcType=DATE},</if>
	        </trim>
	</insert>

	<update id="update" parameterType="BiVoteDrawUser">
		UPDATE BI_VOTE_DRAW_USER
		<set>
			<if test="phone != null and phone != ''">
				PHONE = #{phone,jdbcType=VARCHAR} ,
			</if>
			<if test="name != null and name != ''">
				NAME = #{name,jdbcType=VARCHAR} ,
			</if>
			<if test="drawId != null and drawId != ''">
				DRAW_ID = #{drawId,jdbcType=DECIMAL} ,
			</if>
			<if test="isFlag != null">
				IS_FLAG = #{isFlag,jdbcType=DECIMAL} ,
			</if>
			<if test="isDelete != null">
				IS_DELETE = #{isDelete,jdbcType=DECIMAL} ,
			</if>
			<if test="createdBy != null and createdBy != ''">
				CREATED_BY = #{createdBy,jdbcType=VARCHAR} ,
			</if>
			<if test="creationDate != null and creationDate != ''">
				CREATION_DATE = #{creationDate,jdbcType=DATE} ,
			</if>
			<if test="lastUpdatedBy != null and lastUpdatedBy != ''">
				LAST_UPDATED_BY = #{lastUpdatedBy,jdbcType=VARCHAR} ,
			</if>
			<if test="lastUpdateDate != null and lastUpdateDate != ''">
				LAST_UPDATE_DATE = #{lastUpdateDate,jdbcType=DATE} 
			</if>
		</set>
		WHERE
		   USER_ID = #{userId} 	</update>

	<delete id="deleteById" parameterType="BiVoteDrawUser">
	    <![CDATA[
	        DELETE FROM BI_VOTE_DRAW_USER WHERE
		        USER_ID = #{userId} 
	    ]]>
	</delete>

	<select id="getById" resultMap="RM_BiVoteDrawUser">
		SELECT
		<include refid="BiVoteDrawUserColumns" />
	    <![CDATA[
		    FROM BI_VOTE_DRAW_USER 
	        WHERE 
	        	USER_ID = #{userId} 
	    ]]>
	</select>

	<sql id="listSQL">
		<where>
			<if
				test="userId!=null and userId!=''">
				AND USER_ID = #{userId}			</if>
			<if
				test="phone!=null and phone!=''">
				AND PHONE = #{phone}			</if>
			<if
				test="name!=null and name!=''">
				AND NAME = #{name}			</if>
			<if
				test="drawId!=null and drawId!=''">
				AND DRAW_ID = #{drawId}			</if>
			<if
				test="isFlag!=null">
				AND IS_FLAG = #{isFlag}			</if>
			<if
				test="isDelete!=null">
				AND IS_DELETE = #{isDelete}			</if>
			<if
				test="createdBy!=null and createdBy!=''">
				AND CREATED_BY = #{createdBy}			</if>
			<if
				test="creationDateBegin !=null and creationDateBegin!=''">
				AND CREATION_DATE >= to_date(#{creationDateBegin},'yyyy-MM-dd')
			</if>
			<if
				test="creationDateEnd!=null and creationDateEnd!=''">
				AND CREATION_DATE &lt;= to_date(#{creationDateEnd}||'23:59:59','yyyy-MM-dd hh24:mi:ss')
			</if>
			<if
				test="lastUpdatedBy!=null and lastUpdatedBy!=''">
				AND LAST_UPDATED_BY = #{lastUpdatedBy}			</if>
			<if
				test="lastUpdateDateBegin !=null and lastUpdateDateBegin!=''">
				AND LAST_UPDATE_DATE >= to_date(#{lastUpdateDateBegin},'yyyy-MM-dd')
			</if>
			<if
				test="lastUpdateDateEnd!=null and lastUpdateDateEnd!=''">
				AND LAST_UPDATE_DATE &lt;= to_date(#{lastUpdateDateEnd}||'23:59:59','yyyy-MM-dd hh24:mi:ss')
			</if>
		</where>
	</sql>

	<select id="findPageCount" resultType="int" parameterType="BiVoteDrawUser">
		SELECT count(*) FROM BI_VOTE_DRAW_USER
		<include refid="listSQL" />
	</select>

	<select id="findPageList" resultMap="RM_BiVoteDrawUser"
		parameterType="BiVoteDrawUser">
		SELECT
		<include refid="BiVoteDrawUserColumns" />
		FROM BI_VOTE_DRAW_USER
		<include refid="listSQL" />
		<if test="sortColumns!=null and sortColumns!=''">
			ORDER BY ${sortColumns}
		</if>
	</select>
	
	<select id="queryList" resultMap="RM_BiVoteDrawUser"
		parameterType="BiVoteDrawUser">
		SELECT
		<include refid="BiVoteDrawUserColumns" />
		FROM BI_VOTE_DRAW_USER
		<include refid="listSQL" />
		order by LAST_UPDATE_DATE desc
	</select>
	
	<update id="operaDrawUser" parameterType="Map">
	     UPDATE BI_VOTE_DRAW_USER SET IS_FLAG = #{flag} WHERE
		        USER_ID in
		 <foreach collection="userIds" index="index" item="userId" open="(" separator="," close=")">    
            ${userId}    
         </foreach>
	</update>

</mapper>

